.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgba(255, 255, 255, 0.5);
  /* noSelect */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.swiper-button-next:focus,
.swiper-button-prev:focus {
  /* noSelect */
  outline: none !important;
}
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5);
}

.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.7);
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 2rem;
  font-weight: 700;
}
/* Make the size of prev and next arrows and bullets smaller for small screens */
@media only screen and (max-width: 600px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 1.5rem;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
